<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-background">
  <div class="welcome-content">
    <ion-avatar class="welcome-avatar">
      <img src="https://pbs.twimg.com/profile_images/1273019238282866689/yEn2L7ny_400x400.jpg" alt="Avatar del usuario" />
    </ion-avatar>
    <h1 class="welcome-title">¡Hola, {{ username }}!</h1>
    <p class="welcome-message">Gracias por unirte a nuestra comunidad. Esperamos que disfrutes de tu experiencia.</p>
    <ion-button expand="block" color="primary" shape="round" (click)="logout()">
      <ion-icon slot="start" name="exit"></ion-icon>
      Cerrar Sesión
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p class="footer-message">© 2024 Mi Aplicación. Todos los derechos reservados.</p>
  </ion-toolbar>
</ion-footer>
